<div *ngIf="launch$ | async as launch" style="background-color: #dbb6c8;margin:0 auto;width: 80%;">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title style="font-size: 40px;">{{launch.mission_name}}</mat-card-title>
          <mat-card-subtitle>{{launch.launch_date_local | date}}</mat-card-subtitle>
        </mat-card-header>
        <img  [src]="launch.links.mission_patch_small" [width]="300" >
        <mat-card-content style="width: 30%;font-size: 20px;">
          <p>
            {{launch.details}}
          </p>
          <div style="font-size: 20px;">
            <p>Info: </p>
              {{launch.links.article_link}}
          </div>
          <iframe width="560" height="315" [src]="launch.links.video_link | embed | safe" 
          frameborder="0" allow="accelerometer;
          autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        </mat-card-content>
    </mat-card>
</div>