<div style="background-color: #dbb6c8;">

  <div *ngIf="launches$ | async as launches">

  <mat-grid-list cols="4" rowHeight="700px">
    <mat-grid-tile
        *ngFor="let launch of launches">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title style="font-size: 20px;">{{launch.mission_name}}</mat-card-title>
              <mat-card-subtitle>{{launch.launch_date_local | date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="launch.links.mission_patch_small">
            <mat-card-content>
              <p>
                {{launch.details | launchDetails}}
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Szczegóły</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  </div>
</div>